/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: var(--light);
    color: var(--dark);
  }
  
  /* Dark mode */
  body.dark-mode {
    background: var(--dark);
    color: var(--light);
  }
  
  .blog-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .coming-soon-container {
    margin-top: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .coming-soon-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .coming-soon-container p {
    font-size: 18px;
  }
  
  .coming-soon-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--dark);
    color: var(--light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  