.navbar-wrapper {
    background: var(--light);
    color: var(--dark);
}


.navbar {
    width: 80%;
    margin: 0 auto;
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid var(--dark);
}

.dark-mode {
    background: var(--dark);
    color: var(--light);
}

.dark-mode .navbar{
  border-bottom: 1px solid var(--light);
}
  
  .logo {
    font-size: 20px;
    font-weight: bold;
    background: inherit;
    color: var(--dark);
  }

  .logo a{
    text-decoration: none;
    color: var(--dark);
    cursor: pointer;
  }

  .dark-mode .logo a{
    color: var(--light);
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    background: inherit;
    color: inherit;
  }

  .nav-tab {
    border-radius: 5px;
    padding: 10px 15px;
  }

  .nav-links li {
    margin-left: 20px;
    position: relative;
  }
  
  .nav-links a {
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    position: relative;
  }

  .nav-links a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--dark);
    transition: width 0.5s ease-in-out;
  }

  .dark-mode .nav-links a::before {
    background-color: var(--light);
  }
  
  .nav-links a:hover::before {
    width: 100%;
  }

  .social-icons {
    display: flex;
  }
  
  .social-icons a {
    margin-left: 10px;
    font-size: 20px;
    margin: 0 20px;
    cursor: pointer;
  }
  
  .dark-mode-toggle {
    border: none;
    color: var(--dark);
    cursor: pointer;
    font-weight: bold;
    font-size: 23px;
    margin: -3px;
    background: transparent;
  }
  
  .dark-mode {
    background-color: var(--dark);
    color: var(--light);
  }
  
  .dark-mode .logo {
    color: var(--light);
  }

  .dark-mode .nav-links a {
    background: var(--dark);
    color: var(--light);
  }
  
  .dark-mode .social-icons a {
    background: var(--dark);
    color: var(--light);
  }
  
  .dark-mode .dark-mode-toggle {
    color: var(--light);
  }